{% extends "network/layout.html" %}

{% block body %}
    <h1 style="margin: 10px;">All Posts</h1>
    <div id = "new_postDiv">
        <form method="post">
            {% csrf_token %}
            <h6 style="font-size: 25px;">New Post</h6>
            <input style = "display: none;" type="text" name="username" value="{{user}}">
            <textarea name="post_comment"></textarea>
            <input type="submit" class="text-light" value="Post">
        </form>
    </div>
    {% for post in page.object_list %}
    <div id="post">
        <div id="id" style = "display: none">{{post.id}}</div>
        <div id="usernameDiv"> <a style="text-decoration: none; color: black;" id = "username" href="{% url 'profile_page' post.username %}">{{ post.username }}</a></div>
        
        <div id="comment">{{ post.comment }}</div>
        <div id="date" style="color: gray">{{ post.date }}, {{ post.time }}</div>

    {% if post.id in ids %}
        <div id="likes"> <i id = "like" style="color: gold" class="fa-solid fa-thumbs-up"></i> <span id="numLikes">{{ post.likes}}</span></div>
    {% else %}
        <div id="dislikes"> <i id = "dislike" style="color: gray" class="fa-solid fa-thumbs-up"></i> <span id="numLikes">{{ post.likes}}</span></div>
    {% endif%}

        <div style="color: gray">Comment</div>
    </div>
    {% endfor %}
    <nav id="paginationNav">
        <ul class="pagination">
        {% if page.has_previous %}
          <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ page.previous_page_number }}">Previous</a></li>
        {% endif%}
          <li class="page-item"><a class="page-link" href="#">{{ page.number }}</a></li>
        {% if page.has_next%}
          <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ page.next_page_number }}">Next</a></li>
        {% endif %}
        </ul>
    </nav>
{% endblock %}